DEBUG = False
SERVICE_NAME = 'discordian-date'
SERVICE_VERSION = '0.1.0'
SERVICE_UUID = '5eea1367-3fb4-48f6-9346-e583b04e84d1'
SERVICE_DESCRIPTION = 'I hear whispers'
ZMQ_CONNECTION = {
    'out': 'tcp://localhost:61124',
    'in': 'tcp://localhost:61123'
}
