DEBUG = False
SERVICE_NAME = 'leetpoints'
SERVICE_VERSION = '0.0.2'
SERVICE_UUID = '07f1fe78-f75f-46c2-ba7b-f9e179c351e2'
SERVICE_DESCRIPTION = 'track user karma'
ZMQ_CONNECTION = {
    'out': 'tcp://localhost:61124',
    'in': 'tcp://localhost:61123'
}
