DEBUG = True
SERVICE_NAME = 'tenyksscripts'
SERVICE_VERSION = '0.1.0'
SERVICE_UUID = '9f152704-2905-4304-9cc6-bbb053218ff8'
SERVICE_DESCRIPTION = 'This service exists for small "quick" commands implemented as simple run() functions'

# Scripts to enable. Look in ./scripts and add module import style entries here.
# You can also import any thing that exists in PYTHONPATH and takes the correct
# parameters in a run() function.
SCRIPTS = ['scripts.ping', 'scripts.catfact', 'scripts.aww', 'scripts.catnip',
           'scripts.dark', 'scripts.forking', 'scripts.urbandictionary',
           'scripts.githubstatus', 'scripts.hextime', 'scripts.goattower', 'scripts.goatthrower',
           'scripts.ponder', 'scripts.michiganfact', 'scripts.portlandfact',
           'scripts.usstatus', 'scripts.numbersapi', 'scripts.ddgdefine', 'scripts.printerfact',
           'scripts.stocks', 'scripts.8ball', 'scripts.orihaus_games', 'scripts.jnerulastimezone']


##############################################################################
# The following setting defines a ZMQ connection. `out` is the connection used
# to send things to the bot and `in` is the connection we want to use to
# recieve messages
#
# This setting is required.

ZMQ_CONNECTION = {
    'out': 'tcp://localhost:61124',
    'in': 'tcp://localhost:61123'
}
##############################################################################
